<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Index</title>
</head>
<body>
<header th:fragment="home-header" class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <h1 th:text="#{app-header-name}">Problem Generator</h1>
</header>
<main class="container">
    <h2 class="mt-4 mb-2">Index</h2>
    <ul style="font-size: large;" class="ms-4">
        <li class="mb-2">
            <a th:href="@{/problems}">Problems</a>
            <ul class="mt-2">
                <li class="mb-2">
                    <a th:href="@{/problems/categories}">Categories</a>
                    <ol class="mt-2">
                        <li class="mb-2"><a th:href="@{/problems/categories/addition}">Addition</a></li>
                        <li class="mb-2"><a th:href="@{/problems/categories/subtraction}">Subtraction</a></li>
                        <li class="mb-2"><a th:href="@{/problems/categories/multiplication}">Multiplication</a></li>
                        <li class="mb-2"><a th:href="@{/problems/categories/division}">Division</a></li>
                    </ol>
                </li>
                <li><a th:href="@{/problems/form}">Request Form</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{/about}">About the program</a>
        </li>
    </ul>
</main>
<footer th:fragment="course-footer" class="container d-flex flex-column flex-wrap align-items-center py-3 mt-4 border-top">
    <!--/* Full title – hidden on extra-small screens */-->
    <div class="d-none d-sm-block">PROG27545 / Web Application Design and Implementation</div>
    <!--/* Split title – visible only on extra-small screens */-->
    <div class="d-block d-sm-none">PROG27545 / Web Application Design</div>
    <div class="d-block d-sm-none">and Implementation</div>

    <div>Sheridan College, Alexander Tetervak</div>
    <div th:text="${#temporals.format(#temporals.createNow(), 'MMMM dd, yyyy')}">March 15, 2023</div>
</footer>
</body>
</html>